body {
    margin: 0;
    padding: 16px;
    height:100vh;
    background:  #4da6ff    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.front_img {
    width: 350px;
    margin-right: -50px;
    margin-left: -50px; 
    margin-top: 100px;
    position: relative; 
}

.inside_img {
    width: 350px;
    margin-right: -50px;
    margin-left: -50px; 
    margin-top: 100px;
    position: relative; 
}

.valentines_card:hover .front_card{
    transform: rotateY(-160deg); 
} 
.valentines_card:hover .front_text {
    display: none;
}
.front_text, .inside_text{
    color:  #0066cc;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
}

.front_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #0066cc;
    width: 450px;
    height: 800px;
}
.inside_card {
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #0066cc;
    width: 450px;
    height: 800px;
    z-index:-1;
    left:0;
    top:0;

}
.valentines_card audio {
    display: none;
}

.valentines_card:hover .front_img {
    display: none;
}
.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}
